#global { /*stats*/
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  float: right;
}

#divLignes { /*ligneDommage*/
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#topButton { /*topbutton*/
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

#botButton { /*botbutton*/
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#dommageInput {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

#statsInput {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.class_spell_image_list {
    display: none;
}

.class_image {
    height: 50px;
    display: block;
}

.class_icon_div {
    overflow-y: scroll;
    height: 450px;
    float: right;
}

.class_image_li {
    height: 50px;
    list-style:none;
}